# Shared punt-labs environment
source "${HOME}/.punt-labs/git-identity.env"
source_env_if_exists .envrc.local

export DISABLE_TELEMETRY=1
export CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS=1
export CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC=1
unset  CLAUDE_CODE_ENABLE_TELEMETRY

export TMPDIR="$PWD/.tmp"
mkdir -p "$TMPDIR"
